.Toolbar{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 106px;
    background-color: black;
    position: fixed;
    z-index: 100; 
}

.Toolbar img{
    height: 100%;
    width: auto;
}